/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
 
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {

    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

h1{font-size: 40px;}
h2{font-size: 24px;}

p{font-size: 18px;}




.content-wrapper {

  min-height: 670px;
}


.logo img {
  height: 20px;
  width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  height: 80px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 2rem;
}

nav a {
  text-decoration: none;
  color: #0d47a1
}




#hero{

height: 600px;


}


#index-hero {

  width: 120%;
  height: 680px;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 55%;
  -moz-background-size: 55%;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: 55%;
  background-position-x: right;
  background-position-y: bottom;
  right: 16px;
  

}





.glitch {
  width: 120%;
  height: 680px;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 55%;
  -moz-background-size: 55%;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: 55%;
  background-position-x: right;
  background-position-y: bottom;
  right: 16px;
}
.glitch::before, .glitch::after,
.glitch .channel {
  width: 120%;
  height: 680px;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 55%;
  -moz-background-size: 55%;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: 55%;
  background-position-x: right;
  background-position-y: bottom;
  right: 16px;
}
.glitch::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-before {
  0% {
    clip-path: polygon(0% 70.8771659706%, 100% 70.8771659706%, 100% 75.0913615355%, 0% 75.0913615355%);
    transform: translate(-5.1703057312%, -0.3365327865%);
  }
  2% {
    clip-path: polygon(0% 40.0981177905%, 100% 40.0981177905%, 100% 45.267685923%, 0% 45.267685923%);
    transform: translate(6.7712534126%, 0.1375248702%);
  }
  4% {
    clip-path: polygon(0% 64.5110317739%, 100% 64.5110317739%, 100% 73.4255353035%, 0% 73.4255353035%);
    transform: translate(-5.9075270362%, -0.4093224%);
  }
  6% {
    clip-path: polygon(0% 47.5916114155%, 100% 47.5916114155%, 100% 52.675351772%, 0% 52.675351772%);
    transform: translate(4.9978852012%, -0.0863287662%);
  }
  8% {
    clip-path: polygon(0% 73.5757770489%, 100% 73.5757770489%, 100% 74.8244669079%, 0% 74.8244669079%);
    transform: translate(-1.1159062944%, 0.4194142234%);
  }
  10% {
    clip-path: polygon(0% 4.5146463396%, 100% 4.5146463396%, 100% 8.0116001422%, 0% 8.0116001422%);
    transform: translate(-0.8037124205%, -0.2903821461%);
  }
  12% {
    clip-path: polygon(0% 67.1531364593%, 100% 67.1531364593%, 100% 75.7836845717%, 0% 75.7836845717%);
    transform: translate(2.3687510783%, 0.2311351037%);
  }
  14% {
    clip-path: polygon(0% 45.6161529919%, 100% 45.6161529919%, 100% 52.8498122489%, 0% 52.8498122489%);
    transform: translate(-7.2380156768%, 0.3984181102%);
  }
  16% {
    clip-path: polygon(0% 19.7020785508%, 100% 19.7020785508%, 100% 23.3038530457%, 0% 23.3038530457%);
    transform: translate(5.848754284%, -0.0263384001%);
  }
  18% {
    clip-path: polygon(0% 72.8571585853%, 100% 72.8571585853%, 100% 82.5129606277%, 0% 82.5129606277%);
    transform: translate(-1.6363823649%, 0.2857258742%);
  }
  20%, 100% {
    clip-path: none;
    transform: none;
  }
}
.glitch::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-after {
  0% {
    clip-path: polygon(0% 19.3871749248%, 100% 19.3871749248%, 100% 27.793105518%, 0% 27.793105518%);
    transform: translate(-5.5149311847%, 0.2879315898%);
  }
  2% {
    clip-path: polygon(0% 53.864459029%, 100% 53.864459029%, 100% 58.5485441571%, 0% 58.5485441571%);
    transform: translate(4.0229781988%, -0.4951010152%);
  }
  4% {
    clip-path: polygon(0% 54.4804861916%, 100% 54.4804861916%, 100% 56.5356452479%, 0% 56.5356452479%);
    transform: translate(3.736715788%, 0.1144085194%);
  }
  6% {
    clip-path: polygon(0% 61.2718305693%, 100% 61.2718305693%, 100% 66.1911670374%, 0% 66.1911670374%);
    transform: translate(7.7697834774%, -0.2710023328%);
  }
  8% {
    clip-path: polygon(0% 14.156108363%, 100% 14.156108363%, 100% 20.7209534412%, 0% 20.7209534412%);
    transform: translate(-5.0072410558%, -0.2967664573%);
  }
  10% {
    clip-path: polygon(0% 31.2116567615%, 100% 31.2116567615%, 100% 37.1095012121%, 0% 37.1095012121%);
    transform: translate(-6.0459751127%, 0.2588792249%);
  }
  12% {
    clip-path: polygon(0% 57.0809966056%, 100% 57.0809966056%, 100% 63.1256104934%, 0% 63.1256104934%);
    transform: translate(6.6240611439%, 0.4259788448%);
  }
  14% {
    clip-path: polygon(0% 88.0636059631%, 100% 88.0636059631%, 100% 97.5234465171%, 0% 97.5234465171%);
    transform: translate(0.0186949564%, 0.3699165203%);
  }
  16% {
    clip-path: polygon(0% 65.1018037202%, 100% 65.1018037202%, 100% 74.6500903047%, 0% 74.6500903047%);
    transform: translate(0.8306632582%, 0.1286340796%);
  }
  18% {
    clip-path: polygon(0% 73.1012343831%, 100% 73.1012343831%, 100% 76.9400213715%, 0% 76.9400213715%);
    transform: translate(0.4342863086%, 0.240357926%);
  }
  20%, 100% {
    clip-path: none;
    transform: none;
  }
}
.glitch .channel {
  mix-blend-mode: screen;
}
.glitch .channel::before {
  mix-blend-mode: multiply;
  width: 120%;
  height: 680px;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 55%;
  -moz-background-size: 55%;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: 55%;
  background-position-x: right;
  background-position-y: bottom;
  right: 16px;
}
.glitch .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(1.2192177176%, 0.4181488857%);
  }
  2% {
    transform: translate(-0.0303972456%, -0.4204360836%);
  }
  4% {
    transform: translate(0.8176163994%, -0.0888107078%);
  }
  6% {
    transform: translate(-1.2033553423%, 0.4930809315%);
  }
  8% {
    transform: translate(0.5280716066%, 0.4122728959%);
  }
  10% {
    transform: translate(1.7659925097%, 0.3786820069%);
  }
  12% {
    transform: translate(-1.3487169234%, -0.4766292811%);
  }
  14% {
    transform: translate(1.9634021856%, -0.4678137375%);
  }
  16% {
    transform: translate(-1.8301906599%, -0.2536909292%);
  }
  18% {
    transform: translate(-1.4839791863%, 0.1144720927%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .r::before {
  background: #f00;
}
.glitch .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(-0.5842898867%, 0.3859622699%);
  }
  2% {
    transform: translate(-0.1769257542%, 0.3444874651%);
  }
  4% {
    transform: translate(-0.1011911237%, -0.3222649637%);
  }
  6% {
    transform: translate(1.5413611953%, 0.2662620596%);
  }
  8% {
    transform: translate(0.5604765514%, -0.4507462478%);
  }
  10% {
    transform: translate(1.732018593%, 0.108910498%);
  }
  12% {
    transform: translate(-1.9379799538%, -0.3319484353%);
  }
  14% {
    transform: translate(-0.7158072092%, -0.4200778691%);
  }
  16% {
    transform: translate(1.3260586608%, -0.249397814%);
  }
  18% {
    transform: translate(0.1876311768%, -0.0524601048%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .g::before {
  background: #0f0;
}
.glitch .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(-1.7038096708%, 0.218110062%);
  }
  2% {
    transform: translate(0.0851154929%, -0.140310832%);
  }
  4% {
    transform: translate(-1.0858774709%, 0.4619268853%);
  }
  6% {
    transform: translate(1.4024959002%, 0.328612564%);
  }
  8% {
    transform: translate(0.5541566287%, -0.1883748506%);
  }
  10% {
    transform: translate(0.2524387773%, 0.30816377%);
  }
  12% {
    transform: translate(0.4290369855%, 0.1774622169%);
  }
  14% {
    transform: translate(1.2830924467%, 0.3981874709%);
  }
  16% {
    transform: translate(1.5574025295%, 0.4028280831%);
  }
  18% {
    transform: translate(1.7552938254%, 0.3707095132%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .b::before {
  background: #00f;
}










#my-blurb {
  padding: 24px;
  font-size: 24px;
  width: 45%;
  font-weight: 800;
  border: 3px solid #000;
  border-radius: 32px 32px 0px 32px;
  box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
  margin-top: 120px;
}


/* copy from here */
.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 132px;
 top: 60%;
  left: 48%;

}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
/*copy until here */


@media only screen and (min-width: 480px) and (max-width: 767px) {

  #hero{

    min-height: 600px;
    
    }

  #index-hero {
    width: 100%;
    padding-top: 32px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 95%;
    -moz-background-size: 95%;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: 95%;
    background-position-x: right;
    background-position-y: bottom;
   
  }


  #my-blurb {
    padding: 24px;
    font-size: 24px;
    margin-top: 60px;
    width: 80%;
    font-weight: 800;
    border: 3px solid #000;
    border-radius: 32px 32px 0px 32px;
    box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
  }



}


@media only screen and (max-width: 40em) { 



  #index-hero {
    width: 100%;
    left: 5%;
    top: -25%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-position-x: right;
    background-position-y: bottom;
   
  }




  #my-blurb {
    padding: 24px;
    font-size: 24px;
    margin-top: 60px;
    width: 80%;
    font-weight: 800;
    border: 3px solid #000;
    border-radius: 32px 32px 0px 32px;
    box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
  }






}



/* ==========================================================================
   company sections ---------- >
   ========================================================================== */




.index-company-section {
  margin-top: 74px;
}

.work-section-title {
  font-size: 18px;
  font-weight: 600;
}



.work-section-title span {
  font-size: 18px;
  font-weight: 300;
}





#Finance-index-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}






#Edgesites-index-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



#MR-index-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



#Auction-Rebrand-index-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#Auction-TPS-index-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#Ten-x-offerselect-index-img {

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}


#Auction-index-android-app-img {

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

#chimecard-index-img {

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#Movoto-index-img {

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}




.project-container {
  background: #fff;
  height: 300px;
  box-shadow: 0px 45px 100px rgba(0, 0, 0, .4);
  cursor: pointer;
  border-radius: 12px;
  transition: .10s ease-in-out;
  position: relative;
  overflow: hidden;



  .view-project {
    font-size: 24px;
    position: absolute;
    color: #fff;
    right: 120px;
    bottom: -60px;
    font-weight: 500;
  }

  .view-project-arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -45px;
    bottom: 43%;
    transition: .10s ease-in-out;
    z-index: 3;
  }

  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 2;
    opacity: 0;
    transition: .10s ease-in-out;
    border-radius: 12px;
  }


}

.project-container:hover {

  height: 300px;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, .2);

  .view-project {
    position: absolute;
    right: 120px;
    bottom: 44%;
    z-index: 4;
  }

  .view-project-arrow {
    position: absolute;
    right: 54px;


  }

  .hover-overlay {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e63a6d;
    z-index: 2;
    opacity: .9;
  }

}

.project-container {
  position: relative;
}

.index-project-info {
  position: absolute;
  bottom: 0px;
  left: 32px;
  z-index: 4;
  

}

.index-project-info h2 {
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  background-color: #000;
  padding: 4px 4px 4px 10px;
  width:80%;
  margin-bottom:-32px;

}

.index-project-info p {
  color: #fff;
  background-color: #000;
  font-size: 30px;
  font-weight: 300;
  padding: 4px 4px 4px 8px;
  
}










.project-company-name{

 font-size: 16px; 
 font-weight: 800;
 color: #ccc;


}


.project-name{

font-weight: 800;
font-size: 32px;  
  
}


.project-header-image{

height: 360px;
width: 100%;

}

img{
width: 100%;

}

#project-header-image-360-Finance{

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}





/* --   ----- ----  Product Style Sheet ---- - - --- - */



#on-going-research{

background-color: #8B31FF;
padding-top: 32px;
padding-bottom: 60px;
color: #fff;
}



.backHome{
  font-size:16px;
  padding-top:px;
  display:flex;
  align-items:center;
  color:#ccc;

}
.backArrow{
width:24px;
margin-right:12px;
}

.backHome:hover{

color:#333;
}


.backArrow{
width:24px;
margin-right:12px;
}




.spacing-small{
  height: 32px;
}
.spacing-medium{
  height: 54px;
}
.spacing-large{
  height: 62px;
}
.spacing-xlarge{
  height: 80px;
}
.spacing-xxlarge{
  height: 100px;
}




.drop-shadow-3{

  box-shadow: 10px 10px 107px 0px rgba(0,0,0,0.24);
  -webkit-box-shadow: 10px 10px 107px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 107px 0px rgba(0,0,0,0.24);

}




/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {

  /* 540px */
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 45em) {

  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {

  /* 960px */
  .container {
    width: 90%;
    max-width: 68rem;
  }
}