/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */



html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
 
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {

    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

h1{font-size: 40px;}
h2{font-size: 24px;}

p{font-size: 18px;}




.content-wrapper {

  min-height: 670px;
}


.logo img {
  height: 20px;
  width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  height: 80px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 2rem;
}

nav a {
  text-decoration: none;
  color: #0d47a1
}




#hero{

height: 600px;


}


#index-hero {

  width: 120%;
  height: 680px;
  position:absolute;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 55%;
  -moz-background-size: 55%;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: 55%;
  background-position-x: right;
  background-position-y: bottom;
  right: 16px;
  z-index: -1;

}



.glitch::before, .glitch::after,
.glitch .channel {
  background: inherit;
  -webkit-background-size: 55%;
  -moz-background-size: 55%;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: 55%;
  background-position-x: right;
  background-position-y: bottom;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
}
.glitch::before {
  animation: glitch-before 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-before {
  0% {
    clip-path: polygon(0% 9.3924005735%, 100% 9.3924005735%, 100% 18.5140493045%, 0% 18.5140493045%);
    transform: translate(5.7688524872%, -0.4904134007%);
  }
  2% {
    clip-path: polygon(0% 6.4992799538%, 100% 6.4992799538%, 100% 11.5623817821%, 0% 11.5623817821%);
    transform: translate(-2.9711452604%, 0.1924191204%);
  }
  4% {
    clip-path: polygon(0% 74.8741458553%, 100% 74.8741458553%, 100% 80.8482358573%, 0% 80.8482358573%);
    transform: translate(-7.2150281292%, -0.2055120717%);
  }
  6% {
    clip-path: polygon(0% 29.9082513663%, 100% 29.9082513663%, 100% 38.9535587417%, 0% 38.9535587417%);
    transform: translate(-2.048450597%, 0.3022444801%);
  }
  8% {
    clip-path: polygon(0% 13.6741236998%, 100% 13.6741236998%, 100% 23.4846546727%, 0% 23.4846546727%);
    transform: translate(0.1418311465%, 0.0191344005%);
  }
  10% {
    clip-path: polygon(0% 9.7828221742%, 100% 9.7828221742%, 100% 19.1377503133%, 0% 19.1377503133%);
    transform: translate(-5.1140692804%, 0.3659694336%);
  }
  12% {
    clip-path: polygon(0% 15.4879238987%, 100% 15.4879238987%, 100% 16.8184537789%, 0% 16.8184537789%);
    transform: translate(2.0678778029%, 0.3340916028%);
  }
  14% {
    clip-path: polygon(0% 4.3630257283%, 100% 4.3630257283%, 100% 13.6751112234%, 0% 13.6751112234%);
    transform: translate(-5.7415470768%, 0.0104081979%);
  }
  16% {
    clip-path: polygon(0% 23.2337439506%, 100% 23.2337439506%, 100% 31.4058614757%, 0% 31.4058614757%);
    transform: translate(7.1399259282%, -0.4762274957%);
  }
  18% {
    clip-path: polygon(0% 53.0475860517%, 100% 53.0475860517%, 100% 55.5144526062%, 0% 55.5144526062%);
    transform: translate(-0.0686745515%, 0.1199557529%);
  }
  20%, 100% {
    clip-path: none;
    transform: none;
  }
}
.glitch::after {
  animation: glitch-after 3s linear infinite alternate both;
  content: "";
}
@keyframes glitch-after {
  0% {
    clip-path: polygon(0% 75.6488906656%, 100% 75.6488906656%, 100% 85.4203272807%, 0% 85.4203272807%);
    transform: translate(4.4322355443%, -0.3389701738%);
  }
  2% {
    clip-path: polygon(0% 73.9049031448%, 100% 73.9049031448%, 100% 78.7494952732%, 0% 78.7494952732%);
    transform: translate(2.8094502957%, 0.0607142812%);
  }
  4% {
    clip-path: polygon(0% 36.5231173179%, 100% 36.5231173179%, 100% 43.8152871492%, 0% 43.8152871492%);
    transform: translate(-1.703493702%, -0.1071420075%);
  }
  6% {
    clip-path: polygon(0% 40.4783046783%, 100% 40.4783046783%, 100% 42.226630277%, 0% 42.226630277%);
    transform: translate(6.6002684827%, -0.3803223509%);
  }
  8% {
    clip-path: polygon(0% 34.2184058289%, 100% 34.2184058289%, 100% 41.5609587482%, 0% 41.5609587482%);
    transform: translate(-3.4408767387%, 0.028647242%);
  }
  10% {
    clip-path: polygon(0% 26.9672246077%, 100% 26.9672246077%, 100% 35.857574536%, 0% 35.857574536%);
    transform: translate(-1.5866302678%, -0.2167802088%);
  }
  12% {
    clip-path: polygon(0% 45.6449498892%, 100% 45.6449498892%, 100% 49.4258336451%, 0% 49.4258336451%);
    transform: translate(-0.7718663408%, 0.4485863216%);
  }
  14% {
    clip-path: polygon(0% 72.8849992118%, 100% 72.8849992118%, 100% 80.2772317244%, 0% 80.2772317244%);
    transform: translate(-6.3516056474%, 0.3051046587%);
  }
  16% {
    clip-path: polygon(0% 57.8653382871%, 100% 57.8653382871%, 100% 64.1293805421%, 0% 64.1293805421%);
    transform: translate(7.0086188391%, -0.2947946409%);
  }
  18% {
    clip-path: polygon(0% 2.3659310612%, 100% 2.3659310612%, 100% 7.8716470586%, 0% 7.8716470586%);
    transform: translate(-2.7483619259%, -0.3631610912%);
  }
  20%, 100% {
    clip-path: none;
    transform: none;
  }
}
.glitch .channel {
  mix-blend-mode: screen;
}
.glitch .channel::before {
  bottom: 0;
  content: "";
  mix-blend-mode: multiply;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}
.glitch .r {
  animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
  0% {
    transform: translate(-0.7482232672%, -0.0343722252%);
  }
  2% {
    transform: translate(-0.3858436339%, -0.1420455818%);
  }
  4% {
    transform: translate(-1.5105861952%, 0.4429403197%);
  }
  6% {
    transform: translate(1.5283966361%, 0.2359561533%);
  }
  8% {
    transform: translate(-1.5349425069%, -0.4292896149%);
  }
  10% {
    transform: translate(-0.3460405357%, 0.183929304%);
  }
  12% {
    transform: translate(0.6003925216%, 0.06119639%);
  }
  14% {
    transform: translate(-1.1381954572%, -0.1109957867%);
  }
  16% {
    transform: translate(-0.181109844%, -0.3806118921%);
  }
  18% {
    transform: translate(0.6834501052%, 0.151628742%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .r::before {
  background: #f00;
}
.glitch .g {
  animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
  0% {
    transform: translate(-0.5014022338%, -0.4823704436%);
  }
  2% {
    transform: translate(0.8158697772%, 0.3523375292%);
  }
  4% {
    transform: translate(1.5185182377%, 0.0771954846%);
  }
  6% {
    transform: translate(-1.8712985612%, 0.1546089931%);
  }
  8% {
    transform: translate(0.7277646088%, 0.2070845049%);
  }
  10% {
    transform: translate(-1.9329680803%, 0.0204530007%);
  }
  12% {
    transform: translate(-0.7358184725%, -0.3777026187%);
  }
  14% {
    transform: translate(-1.7127111596%, 0.1315681546%);
  }
  16% {
    transform: translate(1.4893543359%, -0.1253517712%);
  }
  18% {
    transform: translate(1.9508459501%, -0.0904580597%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .g::before {
  background: #0f0;
}
.glitch .b {
  animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-b {
  0% {
    transform: translate(1.0841365004%, -0.4703020717%);
  }
  2% {
    transform: translate(0.0961686464%, -0.4781531672%);
  }
  4% {
    transform: translate(1.7259103912%, -0.0418156839%);
  }
  6% {
    transform: translate(1.7605979062%, -0.1365571204%);
  }
  8% {
    transform: translate(-0.6634478715%, 0.4168368439%);
  }
  10% {
    transform: translate(0.0118180513%, -0.4261519347%);
  }
  12% {
    transform: translate(1.6095740593%, -0.2517738592%);
  }
  14% {
    transform: translate(-1.8902569421%, -0.4687407983%);
  }
  16% {
    transform: translate(-1.0713984656%, 0.1625589777%);
  }
  18% {
    transform: translate(1.8698269824%, -0.2642528552%);
  }
  20%, 100% {
    transform: none;
  }
}
.glitch .b::before {
  background: #00f;
}










#my-blurb {
  padding: 24px;
  font-size: 24px;
  width: 45%;
  font-weight: 800;
  border: 3px solid #000;
  border-radius: 32px 32px 0px 32px;
  box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
  margin-top: 120px;
}


/* copy from here */
.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 132px;
 top: 60%;
  left: 48%;

}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
/*copy until here */


@media only screen and (min-width: 480px) and (max-width: 767px) {

  #hero{

    min-height: 600px;
    
    }

  #index-hero {
    width: 100%;
    padding-top: 32px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 95%;
    -moz-background-size: 95%;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: 95%;
    background-position-x: right;
    background-position-y: bottom;
   
  }


  #my-blurb {
    padding: 24px;
    font-size: 24px;
    margin-top: 60px;
    width: 80%;
    font-weight: 800;
    border: 3px solid #000;
    border-radius: 32px 32px 0px 32px;
    box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
  }



}


@media only screen and (max-width: 40em) { 



  #index-hero {
    width: 100%;
    left: 5%;
    top: -25%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-position-x: right;
    background-position-y: bottom;
   
  }




  #my-blurb {
    padding: 24px;
    font-size: 24px;
    margin-top: 60px;
    width: 80%;
    font-weight: 800;
    border: 3px solid #000;
    border-radius: 32px 32px 0px 32px;
    box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 9px 6px 0px -1px rgba(0, 0, 0, 0.08);
  }






}



/* ==========================================================================
   company sections ---------- >
   ========================================================================== */




.index-company-section {
  margin-top: 74px;
}

.work-section-title {
  font-size: 18px;
  font-weight: 600;
}



.work-section-title span {
  font-size: 18px;
  font-weight: 300;
}





#Finance-index-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}






#Edgesites-index-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



#MR-index-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



#Auction-Rebrand-index-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#Auction-TPS-index-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#Ten-x-offerselect-index-img {

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}


#Auction-index-android-app-img {

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

#chimecard-index-img {

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#Movoto-index-img {

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}




.project-container {
  background: #fff;
  height: 300px;
  box-shadow: 0px 45px 100px rgba(0, 0, 0, .4);
  cursor: pointer;
  border-radius: 12px;
  transition: .10s ease-in-out;
  position: relative;
  overflow: hidden;



  .view-project {
    font-size: 24px;
    position: absolute;
    color: #fff;
    right: 120px;
    bottom: -60px;
    font-weight: 500;
  }

  .view-project-arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -45px;
    bottom: 43%;
    transition: .10s ease-in-out;
    z-index: 3;
  }

  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 2;
    opacity: 0;
    transition: .10s ease-in-out;
    border-radius: 12px;
  }


}

.project-container:hover {

  height: 300px;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, .2);

  .view-project {
    position: absolute;
    right: 120px;
    bottom: 44%;
    z-index: 4;
  }

  .view-project-arrow {
    position: absolute;
    right: 54px;


  }

  .hover-overlay {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e63a6d;
    z-index: 2;
    opacity: .9;
  }

}

.project-container {
  position: relative;
}

.index-project-info {
  position: absolute;
  bottom: 0px;
  left: 32px;
  z-index: 4;
  

}

.index-project-info h2 {
  color: #fff;
  font-weight: 800;
  font-size: 14px;
  background-color: #000;
  padding: 4px 4px 4px 10px;
  width:80%;
  margin-bottom:-32px;

}

.index-project-info p {
  color: #fff;
  background-color: #000;
  font-size: 30px;
  font-weight: 300;
  padding: 4px 4px 4px 8px;
  
}










.project-company-name{

 font-size: 16px; 
 font-weight: 800;
 color: #ccc;


}


.project-name{

font-weight: 800;
font-size: 32px;  
  
}


.project-header-image{

height: 360px;
width: 100%;

}

img{
width: 100%;

}

#project-header-image-360-Finance{

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}





/* --   ----- ----  Product Style Sheet ---- - - --- - */



#on-going-research{

background-color: #8B31FF;
padding-top: 32px;
padding-bottom: 60px;
color: #fff;
}



.backHome{
  font-size:16px;
  padding-top:px;
  display:flex;
  align-items:center;
  color:#ccc;

}
.backArrow{
width:24px;
margin-right:12px;
}

.backHome:hover{

color:#333;
}


.backArrow{
width:24px;
margin-right:12px;
}




.spacing-small{
  height: 32px;
}
.spacing-medium{
  height: 54px;
}
.spacing-large{
  height: 62px;
}
.spacing-xlarge{
  height: 80px;
}
.spacing-xxlarge{
  height: 100px;
}




.drop-shadow-3{

  box-shadow: 10px 10px 107px 0px rgba(0,0,0,0.24);
  -webkit-box-shadow: 10px 10px 107px 0px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 10px 107px 0px rgba(0,0,0,0.24);

}




/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {

  /* 540px */
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 45em) {

  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {

  /* 960px */
  .container {
    width: 90%;
    max-width: 68rem;
  }
}